<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gisella' Personal API endpoint Project</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 center">
          <h1>Gisella' Personal API Project</h1>
          <h4><a href="/api">Read My API Documentation</a></h4>
          <div class="left">
          Endpoints delivered: 
          <ul>
<li> Method: "GET", path: "/api", description: "Describes all available endpoints"}</li>
<li> Method: "GET", path: "/api/profile",   description: "My Profile Points"}</li>
<li> Method: "GET", path: "/api/book", description: "Get a few of my favorite reads"}</li>
<li> Method: "GET", path: "/api/book/_id", description: "Get a recent book"}</li>
<li> Method: "GET", path: "/api/music/_id", description: "Get a recent music record"}</li>
<li> Method: "POST", path: "/api/book", description: "Add a new book"}</li>
<li> Method: "POST", path: "/api/music", description: "Add new music"}</li>
<li> Method: "Delete", path: "/api/book", description: "Delete a book"}</li>
<li> Method: "Delete", path: "/api/music", description: "Delete music"}</li>
      </ul>
      </div>
        </div>
      </div>
    </div>
  </body>
</html>
